* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;}
.flex {
    display: flex;
}
a {
    text-decoration: none;
}
.center {
    text-align: center;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}
.header {
    justify-content: space-between;
    align-items: center;
    height: 46px;
    margin-bottom: 70px;
}
.nav {
    gap: 20px;
    font-size: 1rem;
    font-weight: 400;
}
.nav-item {
    color: #2F281E;
}
.nav-item:hover {
    color: #FF9900;
}
.buttons {
    gap: 32px;
}
.btn-nav {
    font-size: 1rem;
    font-weight: 600;
    padding: 13px 25px;
    border-radius: 4px;
}
.btn-nav-1 {
    color: #2F281E;
    border: 1px solid #BCD0E5;

}
.btn-nav-2 {
    color: #FFFFFF;
    background-color: #FF9900;
    border: 1px solid #FF9900;
}
.start {
    margin-bottom: 100px;
    gap: 56px;
}
.start-text {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 40%;
}
.start-text-title {
    font-weight: 700;
    font-size: 2.75rem;
}
.start-text-content {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.start-img {
    width: 60%;
}
.btn-start {
    width: 182px;
    padding: 13px 43px;
}
.title {
    font-size: 2.25rem;
    font-weight: 700;
}
.tools {
    margin-bottom: 180px;
}
.tools-cards {
    justify-content: space-between;
    gap: 45px;
}
.tools-card {
    width: 23%;
}
.card-icon {
    margin: 50px 0 30px 0;
}
.card-title {
    font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: 16px;
}
.card-text {
    color: #544837;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.626rem;
}
.btn {
    border-radius: 4px;
    border: solid 1px #FF9900;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    background-color: #FF9900;
}
.btn-tools {
    padding: 13px 40px;
    margin: 70px auto 0 auto;
    display: block;
}
.designers, .marketers {
    margin-bottom: 100px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    gap: 115px;
}
.designers-text, .marketers-text {
    width: 40%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.designers-title, .marketers-title {
    font-weight: 700;
    margin-bottom: 10px;
}
.designers-title-main, .marketers-title-main {
    margin: 10px 0 20px 0;
}
.designers-img, .marketers-img {
    width: 60%;
}
.pms {
    line-height: 26px;
    font-size: 1rem;
    gap: 125px;
    margin-bottom: 100px;
}
.pms-title-main {
    margin: 10px 0 20px 0;
}
.pms-text {
    width: 35%;
}
.pms-img {
    width: 60%;
}
.pms-text-content {
    align-items: center;
    gap: 9px;
}
.pms-content-wrapper {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    gap: 30px;
}
.footer {
    justify-content: space-between;
}
.btn-footer {
    width: 180px;
    height: 50px;
}
.footer-img {
    align-self: flex-start;
}
.form {
    flex-direction: column;
    gap: 25px;
}
.footer-column > div:not(last-child) {
    margin-bottom: 20px;
}
.footer-title {
    font-size: 1.25rem;
    font-weight: 700;
}
.form-tel {
    color: #BCD0E5;
    font-size: 1rem;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
}